{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>

<style>

.row{
    display: flex;
}

button{
        padding: 5px;
        width: 5vw;
        color: white;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease-out;
    }
    
    button:hover{
        transform: scale(1.1);
    }

</style>

<body>
        <audio id="abby" src= "/static/audio/Title_Abbey.mp3" preload="auto">
            Your browser does not support the audio element.</audio>
        <button type="button" onclick= "clickAbby('abby')">
            <img src= "{% static 'images/abbeys_farm_front_1200.jpg' %}" style="width:100%"> 
        </button>
</body>

<script>
    var files = JSON.parse('{{ Students|safe }}');
    
    function clickAbby(id){
        document.getElementById('abby').play();
        window.location = "teachers/" + id;
    }

</script>
</html>